* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  min-width: 320px;
  background: #f1f5f9;
  font-family: 'Inter', sans-serif;
}
